* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ubuntu;
    color: white;
}

body {
    height: 100vh;
    background: black;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}

.sortList {
    width: 90%;
    height: 80%;
    background: #222222;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.padd-10 {
    padding:5px 10px;
}

.bg-orange {
    background: #f39c12;
}

.bg-sky {
    background: #3498db;
}

.bg-green {
    background: #008000;
}

.border {
    border: 2px dashed white;
}

.list-tile {
    width: 30%;
    min-height: 100px;
    max-height: 96%;
    overflow: auto;
    margin-top: 10px;
    background: #2c2c2c;
}

.absolute-hidden {
    position: absolute;
    visibility: hidden;
}

.list-item-style {
    width: 90%;
    margin: 10px;
    background: #3e4447;
    border: 5px solid #3e4447;
}

.input-style {
    outline: 0;
    border: 0;
    background: #2c2c2c;
    font-size: 1.3rem;
    padding: 7px;
}

.button-style {
    background: cornflowerblue;
    padding: 5px;
    font-weight: bold;
    font-size: 1.3rem;
}